.mainLoading {
  p {
    text-align: center;
    // position: absolute;
    color: $color-primary;
    font-size: 1.5em;
    font-family: consolas;
    margin-top: 100px;
    bottom: -90px;
    letter-spacing: 0.15em;
  }
}
