.maiTabClients,
.maiTabProducts {
    .content-actionsHeader-category {
        display: flex;
        justify-content: space-between;
        select {
            border: 1px solid $color-primary;
            padding: 5px;
            color: $color-primary;
        }
        option: {
            color: $color-primary;
        }
    }
    .content-actions {
        display: flex;
        justify-content: flex-end;
    }
}

.mainContentAddProduct {
    .group-fields {
        disply: flex;
    }
}
