//  --------- new login -----------
.mainContentAddProduct {
    height: 90vh;
    position: relative;

    .container {
        background-color: $color-white;
        padding: 20px;
        min-width: 280px;
        width: 100%;
        max-width: 800px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $color-primary;
        border-radius: 10px; //
        .content-groupLoginwith {
            position: relative;

            .content-body {
                top: -60px;
                position: absolute;
                width: 100%;

                height: 100px;
            }
            h4 {
                font-size: 1.5em;
                margin-top: 20px;
                color: $color-white;
                text-align: center;
            }
            p {
                margin: 20px 0;
                text-align: center;
                color: $color-white;
            }

            margin: 5px;

            .content-body {
                @include backgGradient;
                @include putBorder_shadow;
                // background-color: ;
            }
        }
        .content-fields {
            // width: 800px;
            display: flex;
            text-align: center;
            padding-top: 80px;
            flex-wrap: wrap;
            .field {
                flex: 0 0 50%;
            }
        }
    }

    textarea {
        // width: 100%;
        margin: 0 20px;
        border: 1px solid $color-primary;
    }
}
