.containerAppBar {
  @include backgGradient;
  @include shadowBox;
  // position: fixed;
  // width: 100%;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  z-index: 4000;

  .logo {
    @include item-hover;
    margin-left: 10px;
    color: $color-white;

    img: {
    }
    h2 {
    }
  }

  .content-middle {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        @include item-hover;
        @include isCursor;
        margin: 0 20px;
        color: $color-white;
      }

      .group-form {
        // visibility: hidden;
        color: $color-white;

        background: none;
        // width: 230px;

        padding: 5px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        // border: 3px solid orange;
        // border: 3px solid orange;
        input {
          // width: 85%;
          color: $color-white;
        }
        input,
        button {
          padding: 0;
          background: none;
          border: none;
          border-radius: 5px;
        }

        input::placeholder {
          text-align: center;
          color: $color-white;
        }
        input:focus {
          // border: 3px solid orange;
          color: $color-white;

          text-align: center;
        }
      }
    }
  }
  .content-left {
    margin-right: 10px;
    padding: 0;

    .button {
      padding-right: 10px;
      display: none;
      visibility: hidden;
    }
  }
}

@media (min-width: 670px) {
  .btn_toggle {
    display: none;
  }
}

@media (max-width: 670px) {
  .containerAppBar {
    // background: rgba(0, 0, 0, 0.9);
    margin-top: 0;

    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    z-index: 1000;
    // height: 10px;
  }
  .logo,
  .content-middle,
  .content-left {
    width: 100%;
  }
  .liste {
    padding: 0;
    margin: 0;
    flex-direction: column;
    // background: rgba(0, 0, 0,  0.7);

    text-align: center;
  }
  .items:nth-child(1) {
    margin-top: 100px;
    // border-top: 1px solid white;
    margin-bottom: 30px;
  }
  .items {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid $color-white;
    line-height: 50px;
  }
  .items:last-child {
    margin-top: 100px;
    border-top: 1px solid transparent;
    margin-bottom: 30px;
  }
  .items:last-child {
    margin-top: 100px;
    border: none;
    margin-bottom: 0px;
  }

  .logo {
    padding: 0;
    margin: 0;
    color: $color-white;
    // margin-bottom: 20px;
  }

  .content-lef {
    position: absolute;
    right: 0;
    // top: 0;
    margin-bottom: 40px;
  }
  .btn_toggle {
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    right: 5px;
    top: -10px;

    color: $color-black;
    cursor: pointer;
  }
  .hide_element {
    display: block;
  }
}

//--------- for comment ------------

.mainGroupAvatar {
  // height: 160px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  overflow-x: scroll;
  //padding: 0 .5rem .5rem .5rem;
  // padding-right: 0.5rem;

  &::-webkit-scrollbar {
    width: 1px;
    height: 4px;
    padding-right: 10px;
    // background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    padding-left: 10px;

    background-color: $color-primary;
  }
  .MuiAvatar-circular {
    @include isCursor;
    transition: 0.4s;
    &:active {
      transform: scale(1.1);
    }

    &:hover {
      @include shadowBox;
    }
  }
}

.comment {
  .MuiListItemText-root .MuiListItemText-multiline {
  }
}

// --------textarea --------
.mainComment {
  @include putBorder;
  position: relative;
  padding: 10px;
  margin-left: 4px;
  margin-right: 4px;

  textarea {
    width: 100%;
    background-color: transparent;
    resize: none;
    font-size: 1em;
    font-family: $font-4;
    padding-left: 10px;

    &:focus {
      // box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
      color: $color-mainColorText;
      padding-left: 10px;
    }
    &::placeholder {
      // text-align: center;
    }
  }
  button {
    // @include backgGradient;
    position: absolute;
    opacity: 0.2;
    bottom: 3px;
    right: 3px;
    border-radius: 10px;
    transition: 0.7s;
    &:hover {
      transition: 0.7s;

      opacity: 1;
    }
  }
}

// -------- for shop --------------
.mainCardShop {
  @include putBorder_shadow-hover;
  h2,
  h3,
  h4 {
    @include isCursor;
  }
  h3 {
    margin-left: 5px;
    font-size: 1em;
  }
  .pice {
    margin: 5px;
  }
}

// --------for table shopping
